@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-35%);
    }
    100% {
        opacity: 1;
        transform:  translateX(0%);
    }
}

@keyframes slide-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform:  translateY(0%);
    }
}
