:root {
    --colorA: rgb(177, 60, 255);
    --colorB: rgb(98, 231, 81);
    --colorC: rgb(83, 153, 233);
}

body {
    font-family: Verdana, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1500px;
    padding: 25px;
    margin: 0 auto;
}
